@font-face {
    font-family: "NotoSansThai";
    src: url("./fonts/notosans/NotoSansThai-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "NotoSansThai";
    src: url("./fonts/notosans/NotoSansThai-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "NotoSansThai";
    src: url("./fonts/notosans/NotoSansThai-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "NotoSansThai";
    src: url("./fonts/notosans/NotoSansThai-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "NotoSansThai";
    src: url("./fonts/notosans/NotoSansThai-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "NotoSansThai";
    src: url("./fonts/notosans/NotoSansThai-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "NotoSansThai";
    src: url("./fonts/notosans/NotoSansThai-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "NotoSansThai";
    src: url("./fonts/notosans/NotoSansThai-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "NotoSansThai";
    src: url("./fonts/notosans/NotoSansThai-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* ========================================================== */

@font-face {
    font-family: "Sarabun";
    src: url("./fonts/sarabun/Sarabun-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Sarabun";
    src: url("./fonts/sarabun/Sarabun-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Sarabun";
    src: url("./fonts/sarabun/Sarabun-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Sarabun";
    src: url("./fonts/sarabun/Sarabun-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Sarabun";
    src: url("./fonts/sarabun/Sarabun-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Sarabun";
    src: url("./fonts/sarabun/Sarabun-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Sarabun";
    src: url("./fonts/sarabun/Sarabun-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Sarabun";
    src: url("./fonts/sarabun/Sarabun-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Sarabun";
    src: url("./fonts/sarabun/Sarabun-ExtraBold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}